	/* BEGIN: Navigation Menu */
	.p7tbsub { 
		background-color: #ffffff; 
		border: 1px solid gray; 
		font: 12px arial,helvetica,sans-serif; 
		layer-background-color: #ffffff;
		/*background-image: url(../../images/nav/flybg.gif);*/
		background-image: url(http://jcp.org/images/nav/flybg.gif);
		/* Note: Make URL Absolute for Navigator 4 compatibility*/ 
		}

	.p7tbsub p {
		margin: 6px;
		padding: 2px 12px 0px 0px;
		}
	
	.p7tbsub a:link, .p7tbsub a:visited {
		color: #000000;
		}
		
	.p7tbsub a:hover, .p7tbsub a:active {
		color: #f56d1b;
		}

	.p7tbdn {
		color: #f56d1b !important; 
		font-weight: bold;
		}
	/* END: Navigation Menu */
